.navbar {
    overflow: hidden;
    background-color: #5A8D97;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    max-height: 120px;
    border-bottom: 5px solid #3A3C41;
}
.navbar-text {
    position: relative;
    text-align: center;
    margin: 10px;
}
.main-body {
    padding-top: 120px;
    max-width: 960px;
    margin: auto;
    border: 5px solid #3A3C41; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
p.center {
    text-align: center;
}
img.rounded {
    border-radius: 25%;
    border: 5px solid #3A3C41
}
