.card {
    width: 400px;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}
.headline-background{
    background-color:orchid;
    padding: 30px;
    position: fixed;
    width: 960px;
}
.fixed-headline {
    position:fixed;
    margin:auto;
}
body {
    max-width: 960px;
    margin: auto;
    /* border: 10px solid aquamarine;  */
}